= simple_form_for(@trial) do |f|

  .form-inputs
    = f.input :title, required: true, autofocus: true
    = f.input :description, required: true

  .row
    .col-md-6
      %h3.text-center Demandantes
      - countries = [{ name: 'Hong Kong', iso_code: 'HK' }, { name: 'Jamaica', iso_code: 'JM' }]
      = f.input :plaintiff_tokens, as: :string, input_html: { data: { tokeninput: { collection: countries } } }

    .col-md-6
      %h3.text-center Demandados

  .form-actions
    = f.button :submit, 'Crear Juicio', class: 'btn btn-success'
    = link_to 'Cancelar', root_path, class: 'btn btn-default'

