.well
  = simple_form_for(@trial) do |f|
    = render 'shared/error_messages', resource: @trial

    .form-inputs
      .row
        .col-md-12
          = f.input :title, required: true, autofocus: true
          = f.input :trial_type
          = f.input :description, required: true, input_html: { rows: 10 }

          = f.association :judge, collection: User.judges, label_method: :full_name, value_method: :id, required: true, disabled: true, selected: current_user.id
          = f.hidden_field :judge_id, value: current_user.id

          = f.input :start_date, required: true

          .checkbox
            %label
              = f.check_box :secret
              Confidencial
            = render 'shared/help_popover', title: 'Confidencialidad', content: 'Casos marcados como confidenciales solo podran ser vistos por los usuarios involucrados en el caso.'

      .row
        .col-md-6
          = f.association :plaintiffs, label_method: :full_name, value_method: :id, include_blank: false, input_html: { 'data-endpoint': people_search_path, class: 'select2-field' }, required: true

          = f.association :plaintiffs_lawyer, collection: User.lawyers, label_method: :full_name, value_method: :id, required: true

        .col-md-6
          = f.association :defendants, label_method: :full_name, value_method: :id, include_blank: false, input_html: { 'data-endpoint': people_search_path, class: 'select2-field' }, required: true

          = f.association :defendants_lawyer, collection: User.lawyers, label_method: :full_name, value_method: :id, required: true

    .form-actions
      = f.button :submit, class: 'btn btn-success'
      = link_to 'Cancelar', root_path, class: 'btn btn-default'
