= simple_form_for(@trial) do |f|

  .form-inputs
    = f.input :title, required: true, autofocus: true
    = f.input :description, required: true

  .row
    .col-md-6
      = f.association :plaintiffs, label_method: :full_name, value_method: :id, input_html: { 'data-endpoint': people_search_path, class: 'select2-field' }

    .col-md-6
      = f.association :defendants, label_method: :full_name, value_method: :id, input_html: { 'data-endpoint': people_search_path, class: 'select2-field' }

  .form-actions
    = f.button :submit, 'Crear Juicio', class: 'btn btn-success'
    = link_to 'Cancelar', root_path, class: 'btn btn-default'

