%ul.list-inline.small
  %li
    = image_tag 'icons/calendar_16.png'
    %strong= l(trial.start_date, format: :long)

  %li{ 'data-toggle': 'tooltip', 'data-placement': 'bottom', title: 'Juez' }
    = link_to user_path(trial.judge) do
      = image_tag 'icons/roles/judge_16.png'
      %strong= trial.judge.full_name

  %li
    = image_tag 'icons/document_tree_16.png'
    %strong
      = trial.trial_presentations.count
      Actuaciones

  .pull-right
    - if trial.secret
      %li
        = image_tag 'icons/lock_16.png'
        %strong Confidencial