%h2
  = @trial.title
  .pull-right
    = render 'shared/manage_resource', resource: @trial

.row
  .col-md-12
    = render 'meta', trial: @trial

    %p= simple_format h @trial.description

%br

.row
  .col-md-3
    -# Plaintiffs
    .panel.panel-primary
      .panel-heading
        %h4.panel-title.text-center Demandantes

      %ul.list-group
        %li.list-group-item
          = image_tag 'icons/roles/lawyer_16.png'
          = link_to @trial.plaintiffs_lawyer.full_name, user_path(@trial.plaintiffs_lawyer)

        - @trial.plaintiffs.each do |person|
          %li.list-group-item= link_to person.full_name, person_path(person)

  .col-md-3
    -# Defentants
    .panel.panel-danger
      .panel-heading
        %h4.panel-title.text-center Demandados

      %ul.list-group
        %li.list-group-item
          = image_tag 'icons/roles/lawyer_16.png'
          = link_to @trial.defendants_lawyer.full_name, user_path(@trial.defendants_lawyer)

        - @trial.defendants.each do |person|
          %li.list-group-item= link_to person.full_name, person_path(person)

%hr

.row
  .col-md-12
    %h3 Presentaciones

    = render partial: @trial.trial_presentations.order('created_at DESC')

    %hr

    = render 'trial_presentations/form'
