%h3
  = @trial.title
  .pull-right
    = render 'shared/manage_resource', resource: @trial

.row
  .col-md-4
    / Meta
    %ul.list-inline.small.text-muted
      %li
        %i.fa.fa-calendar
        = @trial.start_date

    %p= simple_format h @trial.description

  .col-md-2
    %h4.text-center Demandantes
    .list-group
      - @trial.plaintiffs.each do |person|
        = link_to person.full_name, person_path(person), class: 'list-group-item'

  .col-md-2
    %h4.text-center Demandados
    .list-group
      - @trial.defendants.each do |person|
        = link_to person.full_name, person_path(person), class: 'list-group-item'



%hr