= render 'shared/error_messages', resource: @trial_presentation

%h2
  = @trial.title
  .pull-right
    = render 'shared/manage_resource', resource: @trial

.row
  .col-md-10
    = render 'trials/meta', trial: @trial

    %p= simple_format h @trial.description
    %br

    %ul.nav.nav-tabs
      %li.active
        %a{ href: '#presentations', 'data-toggle': 'tab' }
          = image_tag 'icons/document_tree_16.png'
          Actuaciones
          %span.badge= @trial.trial_presentations_count
      %li
        %a{ href: '#documents', 'data-toggle': 'tab' }
          = image_tag 'icons/file_types/page_white_text.png'
          Documentos
          %span.badge= @trial.number_of_attachments

    .tab-content
      %br
      #presentations.tab-pane.fade.active.in
        = render @trial.trial_presentations.all

        %br
        = render 'trial_presentations/form'
      #documents.tab-pane.fade

  .col-md-2
    %h6
      %strong Demandantes
    %ul.list-unstyled
      %li
        %small= link_to @trial.plaintiffs_lawyer.full_name, user_path(@trial.plaintiffs_lawyer)
        = image_tag 'icons/roles/lawyer_16.png'

      - @trial.plaintiffs.each do |person|
        %li
          %small= link_to person.full_name, person_path(person)

    %hr

    %h6
      %strong Demandados
    %ul.list-unstyled
      %li
        %small= link_to @trial.defendants_lawyer.full_name, user_path(@trial.defendants_lawyer)
        = image_tag 'icons/roles/lawyer_16.png'

      - @trial.defendants.each do |person|
        %li
          %small= link_to person.full_name, person_path(person)

    %hr

    %h6
      %strong Etiquetas
