%h2
  = @trial.title
  .pull-right
    = render 'shared/manage_resource', resource: @trial

.row
  .col-md-10
    = render 'meta', trial: @trial

    %p= simple_format h @trial.description
    %br

    %h3 Presentaciones

    = render partial: @trial.trial_presentations.order('created_at DESC')

    = render 'trial_presentations/form'

  .col-md-2
    %h6
      %strong Demandantes
    %ul.list-unstyled
      %li
        %small= link_to @trial.plaintiffs_lawyer.full_name, user_path(@trial.plaintiffs_lawyer)
        = image_tag 'icons/roles/lawyer_16.png'

      - @trial.plaintiffs.each do |person|
        %li
          %small= link_to person.full_name, person_path(person)

    %hr

    %h6
      %strong Demandados
    %ul.list-unstyled
      %li
        %small= link_to @trial.defendants_lawyer.full_name, user_path(@trial.defendants_lawyer)
        = image_tag 'icons/roles/lawyer_16.png'

      - @trial.defendants.each do |person|
        %li
          %small= link_to person.full_name, person_path(person)


