= simple_form_for(@person) do |f|

  .form-inputs
    = f.input :name, required: true, autofocus: true
    = f.input :last_name, required: true
    = f.input :id_number, required: true
    = f.input :birth_date, required: true

  .form-actions
    = f.button :submit, class: 'btn btn-success'
    = link_to 'Cancelar', root_path, class: 'btn btn-default'