%li
  = link_to notification.notifiable, 'data-behavior': 'notification-link', id: notification.id do
    .media
      .media-left.media-middle
        = trial_notification_icon(size: :big)
      .media-body
        %span.small.text-muted= l(notification.created_at, format: :short)
        %p
          %strong= notification.actor.full_name
          = t("notifications.actions.#{notification.action}")
          un nuevo
          = notification.notifiable.class.model_name.human.downcase
          titulado
          %strong= notification.notifiable.title
        %p.small.text-muted
          %i= truncate(notification.notifiable.description, length: 100)

%li.divider