.panel.panel-primary
  .panel-heading
    %h2.panel-title= @user.full_name
  .panel-body
    .row
      .col-md-2
        = image_tag @user.avatar.url, class: 'img-circle center-block'

        %hr

        %ul.nav.nav-pills.nav-stacked
          %li.active
            %a{ 'aria-expanded': 'true', href: '#profile', 'data-toggle': 'pill', role: 'tab' }
              = image_tag 'icons/user_16.png'
              Perfil
          %li
            %a{ 'aria-expanded': 'true', href: '#trials', 'data-toggle': 'pill', role: 'tab' }
              = image_tag 'icons/books_16.png'
              Juicios
              %span.pull-right.badge= @user.trials.count
      .col-md-10
        .tab-content
          = render 'profile'
          = render 'trials'
