.panel.panel-primary
  .panel-heading
    %h2.panel-title= @user.full_name
  .panel-body
    .row
      .col-md-2
        = image_tag @user.avatar.url, class: 'img-circle center-block'

        %hr

        %ul.nav.nav-pills.nav-stacked
          %li.active
            %a Perfil
          %li
            %a Juicios
      .col-md-6
        /= render_roles(@user)

        %p
          %strong E-mail:
          = @user.email
      .col-md-10

- if @user.has_role?(:judge) && @user == current_user
  .row
    .col-md-12
      %h3 Mis Juicios

      - current_user.trials.each do |trial|
        .panel.panel-default
          .panel-body
            %h4= link_to trial.title, trial
            = render 'trials/meta', trial: trial

            %p= trial.description