%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'SCSJ', root_path, class: 'navbar-brand'
    .navbar-collapse
      %ul.nav.navbar-nav

      %ul.nav.navbar-nav.navbar-right
        - unless user_signed_in?
          %li= link_to t('devise.registrations.new.sign_up'), register_path
          %li= link_to t('devise.sessions.new.sign_in'), login_path
        - else
          / Notifications
          %li.dropdown{ 'data-behavior': 'notifications' }
            %a.dropdown-toggle{ 'data-toggle': 'dropdown', role: 'button', 'aria-expanded': false }
              %span.glyphicon.glyphicon-bell
              %span.badge{ 'data-behavior': 'unread-count' }
              %span.caret

            %ul#notifications.dropdown-menu{ 'data-behavior': 'notification-items' }
              %li.dropdown-header.text-uppercase Notificaciones
              - unless current_user.notifications.unread.empty?
                %li
                  .container-fluid
                    = link_to mark_as_read_notifications_path, method: :post, remote: true, class: 'btn btn-default btn-xs pull-right' do
                      %span.glyphicon.glyphicon-ok
                      Marcar como leidas
                %li.divider
              - else
                %li
                  .container-fluid
                    %p.text-center.small No hay notificaciones nuevas

          / User Links
          %li.dropdown
            %a{ :class => 'dropdown-toggle', "data-toggle" => 'dropdown', :role => 'button', "aria-expanded" => false }
              /= image_tag current_user.avatar.url(:navbar), class: 'img-circle', style: 'border: 2px solid white;'
              %strong= current_user.full_name
              %span.caret
            %ul.dropdown-menu
              - if can? :read, Person
                %li
                  = link_to people_path do
                    = image_tag 'icons/group_16.png', alt: 'Personas'
                    Personas
              - if can? :create, Trial
                %li
                  = link_to new_trial_path do
                    = image_tag 'icons/application_form_add_16.png', alt: 'Crear Nuevo Juicio'
                    Crear Nuevo Juicio
              %li.divider
              %li
                = link_to user_path(current_user) do
                  = image_tag 'icons/user_16.png', alt: 'Mi Perfil'
                  Mi Perfil
              %li
                = link_to edit_user_registration_path do
                  = image_tag 'icons/cog_edit_16.png', alt: 'Mi Cuenta'
                  Mi Cuenta
              %li.divider
              %li
                = link_to logout_path, method: :delete do
                  = image_tag 'icons/door_out_16.png', alt: 'Cerrar Sesión'
                  Cerrar Sesión