- if can? :create, @trial => TrialPresentation
  .row
    .col-md-12
      .panel.panel-default
        .panel-body
          = simple_form_for([@trial, @trial_presentation], html: {multipart: true}) do |f|

            %legend
              = image_tag 'icons/16/page_add.png', alt: 'Nueva Actuación'
              Nueva Actuación

            .form-inputs
              = f.hidden_field :lawyer_id, value: current_user.id
              = f.input :description, label: false, required: true, input_html: { rows: 5 }
              = f.file_field :attachments, multiple: true

            .form-actions
              .pull-right
                = f.button :submit, class: 'btn btn-success'