- if can? :create, @trial => TrialPresentation
  .row
    .col-md-1
      = image_tag current_user.avatar.url(:comment), class: 'img-rounded'
    .col-md-11
      .panel.panel-default.panel-comment
        .panel-heading
          %h5.panel-title
            %strong Nueva actuación
        .panel-body
          = simple_form_for([@trial, @presentation], html: {multipart: true}) do |f|

            // ERROR MESSAGES
            = render 'shared/error_messages', resource: @presentation

            .form-inputs
              = f.hidden_field :lawyer_id, value: current_user.id
              = f.input :description, label: false, required: true, input_html: { rows: 5 }
              = f.file_field :attachments, multiple: true

            .form-actions
              .pull-right
                = f.button :submit, class: 'btn btn-success'